<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context 
                           http://www.springframework.org/schema/context/spring-context.xsd
                           http://www.springframework.org/schema/util 
                           http://www.springframework.org/schema/util/spring-util.xsd">
    
    <bean id="mongoUtil" class="com.musiclist.mongo.MongoUtil" init-method="init" destroy-method="close">
        <property name="hostname" value="${mongo.hostname}"/>
        <property name="port" value="${mongo.port}"/>
        <property name="userName" value="${mongo.username}"/>
        <property name="password" value="${mongo.password}"/>
        <property name="databaseName" value="${mongo.database}"/>
        <property name="connectionsPerHost" value="${mongo.connectionsPerHost}"/>
        <property name="connectTimeout" value="${mongo.connectTimeout}"/>
        <property name="maxWaitTime" value="${mongo.maxWaitTime}"/>
        <property name="threadsAllowedToBlockForConnectionMultiplier" value="${mongo.threadsAllowedToBlockForConnectionMultiplier}"/>
        <property name="socketTimeout" value="${mongo.socketTimeout}"/>
    </bean>  
</beans>